{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row py-4">
            <div class="col-12 text-center mb-4">
                <h1>
                    {{ member.name }}
                </h1>
            </div>

            <div class="col-md-4">
                <img src="{{ member.image }}" alt="">
            </div>
            <div class="col-md-8">
                <ul>
                    <li>
                        <strong>Agence : </strong> {{ member.agency }}
                    </li>
                    <li>
                        <strong>Status : </strong> {{ member.getStatusTrans }}
                    </li>
                    <li>
                        <strong>Status : </strong> {{ member.getStatusTrans }}
                    </li>
                    <li>
                        <strong>Lien wikipédia : </strong>
                        <a target="_blank" href="{{ member.wikipedia }}">{{ member.wikipedia }}</a>
                    </li>
                    <li>
                        <strong>Nombre de lancement : </strong> {{ member.launches|length }}
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock body %}